
body * {
    text-align: center;
    color: #000f08;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  } 

.imagen-viajes {
max-width: 2.5%!important;
}

.imagen-viajes .texto-viajes {
  display:block;
}

.texto-viajes p {
  margin-left: 15px;
  margin-bottom: -1px;
  color: white;
}

.nav{
  background-color: transparent !important;
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
  }

#contacto {
    scroll-behavior: smooth;
  }

.my-navbar {
  border: 0;
  border-radius: 0;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

/* Margen Tarjetas*/

.card:last-of-type {
  margin-right: 10;
}

.card .card1 {
  background-color: black!important;
}

.card {
  margin: auto 0;
  margin-right: 10px;
  float: none; 
}

.card-body{
  background-color: #3694b1!important;
}

.texto1{
  text-align: left;
  padding: 1%;
  margin-top: 5%;
}

.titulo1{
  text-align: left;
}

.texto2{
  text-align: left;
  padding: 1%;
  margin-top: 5%;
}

.titulo2{
  text-align: left;
}

.texto3{
  text-align: left;
  padding: 1%;
  margin-top: 5%;
}

.titulo3{
  text-align: left;
}

.texto4{
  text-align: left;
  padding: 1%;
  margin-top: 5%;
}

.titulo4{
  text-align: left;
}

.parrafos {
  display: block;
  text-align: left;
  margin: 0 1em;
}

.color {
  background-color: black;
  padding: 10px 0;
}

/* Estilos Font Awesone */
.fa-plane {
  color: white;
  background-color:#1798c1;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 150%;
  margin: 0 auto;
  margin-right: 10px;
}

.fa-route {
  color: white;
  background-color:#1798c1;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 150%;
  margin: 0 auto;
  margin-right: 10px;
}

.fa-mountain {
  color: white;
  background-color:#1798c1;
  padding-left: 140px;
  padding-right: 140px;
  font-size: 150%;
  margin: 0 auto;
  margin-right: 10px;
}

.somos {
  background-color: black;
}

.linea {
  border-top: 3px solid #1798c1!important;
  height: 3px;
  padding: 0;
  margin: 10px auto 1 0;
}

h1 {
  color: white!important;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;

}

hr { 
  color: #1798c1!important;
  background-color: #1798c1!important;
  margin-left: 35px;
  margin-right: 35px;
}

.textos {
  color: white!important;
  text-align: left;
}



@media screen and (max-width:1200px) {
  .card {
    margin-left: 15px;
    margin-bottom: 23px; 
  }
}

@media screen and (max-width:1200px) {
  .navbar-toggler{
    position: relative;
    left: 20px;
  }
}

@media screen and (max-width:768px) {
  .imagen-viajes {
      max-width: 10%!important;
  }
}

@media screen and (max-width:768px) {
  .navbar-bar .ml-auto ,a {
      text-align: left;
  }
}

@media screen and (max-width:768px) {
  .texto-viajes {
    margin-right: 80px!important;
  }
}

@media screen and (max-width:1200px) {
  .foot {
    position: relative;
    right: 28px;
  }
}
.container {
    max-width:80%;
    width: 80%;
}
.col-md-3{
    width:100%;
    float:left;
    margin:0;
}



.fondo-footer {
  background-color: #1798c1!important;
}

h2 {
  color: white!important;
  text-align: center;
  font-size:2.5em!important;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
  color: white!important;
  text-align: center;
  font-size:2.5em!important;
  vertical-align: middle;
  padding-top: 300px;
}

h4 {
color: white!important;
font-size: 1.5em;

}
.fa-2x {
  margin: 0 0.3em;
  color: white!important;
}


